# STA 141B Lecture 10

February 14, 2023

### Announcements

* HW3 posted, due next Friday

### Topics

* Web Scraping
* Beautiful soup

### Datasets

* [wiki](https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area)
* [Worldometers](https://www.worldometers.info/coronavirus/)
* [Craigslist Apartments](https://sacramento.craigslist.org/d/apts-housing-for-rent/search/apa)

### References

+ Web Scraping
    * [MDN HTML Reference](https://developer.mozilla.org/en-US/docs/Web/HTML/Element)
    * [XPath Diner](http://www.topswagcode.com/xpath/) -- an interactive XPath tutorial
    * [CSS Diner](https://flukeout.github.io/) -- an interactive CSS Selector tutorial
+ Natural Language Processing
    * [Natural Language Processing with Python][nlpp], chapters 1-3. Beware: the print version is for Python 2.
    * [Applied Text Analysis with Python][atap], chapters 1, 3.

[PDSH]: https://jakevdp.github.io/PythonDataScienceHandbook/
[ProGit]: https://git-scm.com/book/
[nlpp]: https://www.nltk.org/book/
[atap]: https://search.library.ucdavis.edu/primo-explore/fulldisplay?docid=01UCD_ALMA51320822340003126&context=L&vid=01UCD_V1&search_scope=everything_scope&tab=default_tab&lang=en_US

## Web Scraping

### Example 1: Getting tables from wikipedia

For data in a `table` element, we can use __Pandas__ instead of writing a scraper.

Wikipedia provides lots of useful information in tables. Let's get the Wikipedia list of [US cities by area][wiki].

[wiki]: https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area

In [2]:
import pandas as pd

In [ ]:
tabs = pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_area")

In [ ]:
def strip_footnote(x):
    """This function removes bracketed footnotes, such as '[1]'."""
    if pd.isna(x):
        return x
    
    return x.partition("[")[0]

In [ ]:
# combine table headers into a row and remove footnote

In [ ]:
# Apply a function to a Dataframe elementwise (.applymap)

tbl = tbl.applymap(strip_footnote) 

# do not work, why?

### Exercise: get table from https://en.wikipedia.org/wiki/List_of_cities_by_GDP

In [19]:
cities_GDP = pd.read_html("https://en.wikipedia.org/wiki/List_of_cities_by_GDP")

In [4]:
len(cities_GDP)

4

In [20]:
cities_GDP

[    Rank (PPP)  Rank (nominal)     Metropolitan area  Country/region  \
 0          1.0             1.0                 Tokyo           Japan
 1          2.0             2.0              New York   United States
 2          3.0             3.0           Los Angeles   United States
 3          4.0             6.0                 Seoul     South Korea
 4          5.0             5.0                 Paris          France
 5          6.0             4.0                London  United Kingdom
 6          7.0            10.0              Shanghai           China
 7          8.0            16.0                Moscow          Russia
 8          9.0            12.0               Beijing           China
 9         10.0             8.0            Osaka–Kobe           Japan
 10        11.0            50.0              Istanbul          Turkey
 11        12.0            34.0               Jakarta       Indonesia
 12        13.0             7.0               Chicago   United States
 13        14.0            18.0              Shenzhen           China
 14        15.0             9.0            Rhine-Ruhr         Germany
 15        16.0            25.0             Guangzhou           China
 16        17.0            24.0             Chongqing           China
 17        18.0            39.0                Mumbai           India
 18        19.0            29.0             Singapore       Singapore
 19        20.0            40.0                 Delhi           India
 20        21.0            11.0         San Francisco   United States
 21        22.0            23.0                Taipei          Taiwan
 22        23.0            43.0             São Paulo          Brazil
 23        24.0            13.0      Washington, D.C.   United States
 24        25.0            46.0               Bangkok        Thailand
 25        26.0            47.0           Mexico City          Mexico
 26        27.0            35.0                Suzhou           China
 27        28.0            14.0     Dallas–Fort Worth   United States
 28        29.0            15.0                Boston   United States
 29        30.0            17.0               Houston   United States
 30        31.0            44.0               Chengdu           China
 31        32.0            20.0               Toronto          Canada
 32        33.0            30.0             Hong Kong       Hong Kong
 33        34.0            19.0          Philadelphia   United States
 34        35.0             NaN          Buenos Aires       Argentina
 35        36.0            21.0               Seattle   United States
 36        37.0            22.0               Atlanta   United States
 37        38.0             NaN                 Wuhan           China
 38        39.0             NaN                 Dhaka      Bangladesh
 39        40.0            32.0                 Milan           Italy
 40        41.0            28.0                Nagoya           Japan
 41        42.0            49.0              Hangzhou           China
 42        43.0            27.0                 Miami   United States
 43        44.0            37.0                Madrid           Spain
 44        45.0            52.0               Tianjin           China
 45        46.0             NaN               Nanjing           China
 46        47.0            26.0                Sydney       Australia
 47        48.0            33.0             Melbourne       Australia
 48        49.0            33.0             San Diego   United States
 49        50.0            38.0               Phoenix   United States
 50         NaN            41.0  Minneapolis-St. Paul   United States
 51         NaN            42.0               Detroit   United States
 52         NaN            45.0  Busan–Gyeongnam Area     South Korea
 53         NaN            48.0                Munich         Germany
 54         NaN            51.0                Berlin         Germany

             UNSD subregion[4]  \
 0                Eastern Asia
 1            Northern America
 2            Northern America
 3                Eastern Asia
 4              Western Europe
 5             Northern Europe
 6                Eastern Asia
 7              Eastern Europe
 8                Eastern Asia
 9                Eastern Asia
 10               Western Asia
 11         South-eastern Asia
 12           Northern America
 13               Eastern Asia
 14             Western Europe
 15               Eastern Asia
 16               Eastern Asia
 17              Southern Asia
 18         South-eastern Asia
 19              Southern Asia
 20           Northern America
 21               Eastern Asia
 22              South America
 23           Northern America
 24         South-eastern Asia
 25           Northern America
 26               Eastern Asia
 27           Northern America
 28           Northern America
 29           Northern America
 30               Eastern Asia
 31           Northern America
 32               Eastern Asia
 33           Northern America
 34              South America
 35           Northern America
 36           Northern America
 37               Eastern Asia
 38              Southern Asia
 39            Southern Europe
 40               Eastern Asia
 41               Eastern Asia
 42           Northern America
 43            Southern Europe
 44               Eastern Asia
 45               Eastern Asia
 46  Australia and New Zealand
 47  Australia and New Zealand
 48           Northern America
 49           Northern America
 50           Northern America
 51           Northern America
 52               Eastern Asia
 53             Western Europe
 54             Western Europe

    Visual Capitalist[5] 2021 est. GDP (million US$)  \
 0                                           2055698
 1                                           1874398
 2                                           1133627
 3                                            926790
 4                                            934168
 5                                            978402
 6                                            661600
 7                                            504808
 8                                            591374
 9                                            699474
 10                                           247312
 11                                           308250
 12                                           714697
 13                                           455694
 14                                           636449
 15                                           405355
 16                                           407562
 17                                           277980
 18                                           374394
 19                                           272603
 20                                           593629
 21                                           407838
 22                                           261642
 23                                           578985
 24                                           252128
 25                                           250455
 26                                           356800
 27                                           523854
 28                                           513211
 29                                           489377
 30                                           260409
 31                                           452492
 32                                           368633
 33                                           455653
 34                                                −
 35                                           444337
 36                                           432009
 37                                           282500
 38                                                −
 39                                           329529
 40                                           379301
 41                                           248721
 42                                           388725
 43                                           280937
 44                                           237900
 45                                           249800
 46                                           398037
 47                                           318677
 48                                           290330
 49                                           341841
 50                                           342373
 51                                           357731
 52                                           252145
 53                                           249764
 54                                           243160

    Visual Capitalist[6] 2021 est. PPP-adjusted GDP (million US$)
 0                                             2205652
 1                                             1874398
 2                                             1133627
 3                                             1125042
 4                                             1075495
 5                                             1064297
 6                                             1018815
 7                                             1004849
 8                                              950671
 9                                              897418
 10                                             858706
 11                                             841605
 12                                             714697
 13                                             704486
 14                                             698982
 15                                             664854
 16                                             657985
 17                                             606625
 18                                             600063
 19                                             594884
 20                                             593629
 21                                             585867
 22                                             583821
 23                                             578985
 24                                             559911
 25                                             547457
 26                                             526904
 27                                             523854
 28                                             513211
 29                                             489377
 30                                             486382
 31                                             475232
 32                                             472395
 33                                             455653
 34                                             444946
 35                                             444337
 36                                             432009
 37                                             409508
 38                                             405872
 39                                             405516
 40                                             403861
 41                                             396722
 42                                             388725
 43                                             376565
 44                                             370885
 45                                             363228
 46                                                  −
 47                                                  −
 48                                                  −
 49                                                  −
 50                                                  −
 51                                                  −
 52                                                  −
 53                                                  −
 54                                                  −             ,
      Rank City proper/metropolitan area               Country/region  \
 0     129       Aachen-Liège-Maastricht  Germany Belgium Netherlands
 1    300+  Abbotsford, British Columbia                       Canada
 2    300+                      Aberdeen               United Kingdom
 3    300+                       Abidjan                  Ivory Coast
 4     108                     Abu Dhabi         United Arab Emirates
 ..    ...                           ...                          ...
 405    89                     Zhengzhou                        China
 406   230                     Zhongshan                        China
 407   285                        Zhuhai                        China
 408   177                          Zibo                        China
 409   119                        Zürich                  Switzerland

     UNSD sub‑region[4] Official est. GDP up to date (billion US$)  \
 0       Western Europe                                        NaN
 1        North America                       6.119 (2018)[10][11]
 2      Northern Europe                            23.0 (2020)[13]
 3               Africa                              27 (2017)[15]
 4         Western Asia                             119 (2015)[17]
 ..                 ...                                        ...
 405       Eastern Asia                             144 (2018)[31]
 406       Eastern Asia                            51.1 (2017)[31]
 407       Eastern Asia                            38.0 (2017)[31]
 408       Eastern Asia                            70.8 (2017)[31]
 409     Western Europe                                        NaN

     Brookings[7] 2014 est. PPP-adjusted GDP (billion US$)  \
 0                                               99.728
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                              178.256
 ..                                                 ...
 405                                            155.696
 406                                             68.682
 407                                             41.338
 408                                            100.274
 409                                            109.065

                                Metropolitan population  \
 0    3,500,000 (2014)[8] metropolitan population fo...
 1                                   205,847 (2021)[12]
 2                                   489,840 (2020)[14]
 3                                 5,950,000 (2022)[16]
 4                                 1,660,000 (2022)[16]
 ..                                                 ...
 405                               8,950,000 (2022)[16]
 406                              4,418,060 (2020)[188]
 407                               2,325,000 (2022)[16]
 408                               3,725,000 (2022)[16]
 409                               1,470,000 (2022)[16]

      Official est. GDP per capita
 0                        28493.71
 1                        29725.96
 2                        46957.94
 3                         4537.82
 4                        71686.75
 ..                            ...
 405                      16089.39
 406                      11566.16
 407                      16344.09
 408                      19006.71
 409                      74193.88

 [410 rows x 8 columns],
         Metropolitan area  GDP (billion USD)        Country  \
 0               Hong Kong             368.14      Hong Kong
 1               Singapore             396.99      Singapore
 2              San Marino               1.54     San Marino
 3                   Macau              29.91          Macau
 4   Luxembourg City-Trier              69.45     Luxembourg
 ..                    ...                ...            ...
 59                   Kyiv              25.70        Ukraine
 60                Nairobi              14.80          Kenya
 61                 Mumbai             277.98          India
 62               New York            1874.40  United States
 63               Shanghai             680.00          China

     National GDP (billion USD)  % of national GDP
 0                       369.49             99.635
 1                       424.43             93.535
 2                         1.70             90.872
 3                        35.25             84.847
 4                        86.90             79.925
 ..                         ...                ...
 59                      198.32             12.959
 60                      114.68             12.906
 61                     3534.74              7.864
 62                    25346.81              7.395
 63                    19911.59              3.415

 [64 rows x 5 columns],
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteCities  \
 0                                    Urban geography
 1                                   Urban government
 2                                    Urban economics
 3                                     Urban planning
 4                                   Urban population
 5                                           Urbanism
 6                                        Environment
 7                                      Cities portal

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteCities.1
 0  Urban area City centre Downtown Suburb Exurb C...
 1  City status Municipality direct-controlled Ind...
 2  World's cities by GDP Global city Central busi...
 3  History of urban planning Theories of urban pl...
 4  World's largest cities throughout history Most...
 5  Urban warfare Urban studies Urban morphology U...
 6  Climate change Green urbanism Sustainable city...
 7                                      Cities portal                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ]

In [ ]:
tbl_GDP = cities_GDP[1]

In [ ]:
tbl_GDP.head()

### Example 2: Worldometers

[Beautiful soup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/) is a popular Python library for pulling data out of HTML and XML files.

In [ ]:
# html

html_doc = """<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>

<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

<p class="story">...</p>
"""

In [ ]:
html_doc

Running the document through Beautiful Soup gives us a BeautifulSoup object, which represents the document as a nested data structure:

In [ ]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html_doc, 'html.parser')

print(soup.prettify())
# <html>
#  <head>
#   <title>
#    The Dormouse's story
#   </title>
#  </head>
#  <body>
#   <p class="title">
#    <b>
#     The Dormouse's story
#    </b>
#   </p>
#   <p class="story">
#    Once upon a time there were three little sisters; and their names were
#    <a class="sister" href="http://example.com/elsie" id="link1">
#     Elsie
#    </a>
#    ,
#    <a class="sister" href="http://example.com/lacie" id="link2">
#     Lacie
#    </a>
#    and
#    <a class="sister" href="http://example.com/tillie" id="link3">
#     Tillie
#    </a>
#    ; and they lived at the bottom of a well.
#   </p>
#   <p class="story">
#    ...
#   </p>
#  </body>
# </html>

In [ ]:
soup.title

In [ ]:
soup.title.name # gives the title name

In [ ]:
soup.title.string

In [ ]:
soup.title.parent.name

In [ ]:
soup.p

In [ ]:
soup.p['class']

In [ ]:
soup.find_all('a')

In [ ]:
soup.find(id="link2")

In [ ]:
import requests

# Create an URL object
url = 'https://www.worldometers.info/coronavirus/'
# Create object page
page = requests.get(url)

In [ ]:
# parser-lxml = Change html to Python friendly format
# Obtain page's information
soup = BeautifulSoup(page.text, 'lxml')
soup

In [ ]:
# Obtain information from tag <table>
table1 = soup.find('table', id='main_table_countries_today')
table1

In [ ]:
# Obtain every title of columns with tag <th>
headers = []
for i in table1.find_all('th'):
    title = i.text
    headers.append(title)

In [ ]:
headers

In [ ]:
# Convert wrapped text in column 13 into one line text
headers[13] = 'Tests/1M pop'

In [ ]:
# Create a dataframe
mydata = pd.DataFrame(columns = headers)

In [ ]:
# Create a for loop to fill mydata
for j in table1.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [i.text for i in row_data]
    length = len(mydata)
    mydata.loc[length] = row

In [ ]:
mydata_final = mydata.loc[range(7, 238), :]

In [ ]:
del mydata_final["#"]

In [ ]:
mydata_final = mydata_final.reset_index(drop = True)

In [ ]:
mydata_final.head()

In [ ]:
# mydata_final.set_index(['Country,Other'])

### Example: Craigslist Apartments

[Craigslist](https://www.craigslist.org/) is a popular website where people can post advertisements for free. We can use data from Craigslist to analyze the local rental market for apartments.

Craigslist doesn't provide an API, so we have to scrape the data ourselves. Scraping Craigslist is the biggest challenge we've faced yet, since each ad is on a separate page.

We can start by scraping the front page of the [apartments section](https://sacramento.craigslist.org/d/apts-housing-for-rent/search/apa) for links to individual ads.

In [ ]:
import requests

In [ ]:
url = 'https://sacramento.craigslist.org/search/apa'
response = session.get(url, headers=my_headers)

In [ ]:
# craigslist_url = "https://sacramento.craigslist.org/d/apts-housing-for-rent/search/apa"
craigslist_url = "https://sacramento.craigslist.org/search/apa"

response = requests.get(craigslist_url, auth=('user', 'pass'))
response.raise_for_status()
html = lx.fromstring(response.text)
html.make_links_absolute(craigslist_url)

`make_links_absolute(base_href)`: makes all links in the document absolute, assuming that base_href is the URL of the document. So if you pass base_href="http://localhost/foo/bar.html" and there is a link to baz.html that will be rewritten as http://localhost/foo/baz.html.

More explanation: [here](https://linuxtut.com/en/e03431c718b94d6304ff/)

In [ ]:
html.text_content()