# STA 141B Assignment 2

Due __Feb 2, 2022__ by 11:59pm. 

Please rename this file with __"LastName_FirstName_hw2"__ 

The purpose of this assignment is to practice numpy, pandas, and use pandas data frames to index, slice, reshape, aggregate, and group data

Notes: 

1. Please do not rename this file or delete the exercise cells. Put your answers in new cells after each exercise. You can make as many new cells as you like. Use code cells for code and Markdown cells for text. Answer all questions with complete sentences.

2. Your code should be readable; writing a piece of code should be compared to writing a page of a book. Adopt the __one-statement-per-line__ rule. Consider splitting a lengthy statement into multiple lines to improve readability. (You will lose one point for each line that does not follow the one-statement-per-line rule)

3. To help understand and maintain code, you should always add comments to explain your code. Use the _hash symbol_ (#) for writing a comment (homework without any comments will automatically receive 0 points). Use _docstring_ to explain a function

4. Submit your final work with a __.pdf__ or a __.html__ file to Canvas. To convert a .ipynb file to a .pdf/.html file, go to "File", click "Download as", and then click "PDF via LaTeX"/"HTML". 

5. This assignment will be graded for correctness.

### Part I: Indexing

__Exercise 1.1 (10 points).__ Give three examples of indexing a data frame with `[ ]`, `.loc[ ]`, and `.iloc[ ]`, respectively. Explain how each of these indexing methods is different.

<span style="color:#F00">Grading</span>
* each example: -1 incorrect / -2 missing
* explanation: -2 incorrect / -4 missing

In [1]:
import numpy as np
import pandas as pd

In [2]:
### 3 POINTS
x = pd.DataFrame({"x": [1, 2, 3], "y": ["a", "b", "c"]}, index = ["first", "second", "third"])

# [ ] gets columns by name
x["y"]

first     a
second    b
third     c
Name: y, dtype: object

In [3]:
### 3 POINTS
x.loc["first", :] # .loc[ ] gets rows and columns by name

x    1
y    a
Name: first, dtype: object

In [4]:
### 3 POINTS
x.iloc[0, 1] # .iloc[ ] gets rows and columns by position

'a'

__Exercise 1.2 (10 points).__ What do negative indexes (as in `x[-1]`) do in Python? Create and try three examples of negative indexes for lists, NumPy arrays, and data frames, respectively. Then explain what you think negative indexes do. Confirm your explanation by linking to a relevant page in the Python, NumPy, or Pandas documentation.

<span style="color:#F00">Grading</span>
* explanation: -2 incorrect / -4 missing
* each example: -1 incorrect / -2 missing
* link: -1 missing

Link needs to be to official Python, NumPy, or Pandas docs -- not other websites.

Negative indexes count from the end of the object. So `x[-1]` is the first element from the end, `x[-2]` is the second element from the end, and so on.

In [5]:
# Lists
x = [1, 2, 3]
x[-1] # first from end

3

In [6]:
# NumPy arrays
import numpy as np

x = np.array([1, 2, 3, 4])
x[-2] # second from end

3

In [7]:
# Pandas data frames
x = pd.DataFrame({"x": [1, 2, 3], "y": [4, 5, 6]})
print(x)

x.iloc[-1, :] # first row from end

   x  y
0  1  4
1  2  5
2  3  6

x    3
y    6
Name: 2, dtype: int64

__Exercise 1.3 (10 points).__ Give an example and explain Pandas' data alignment (or index alignment) feature.

<span style="color:#F00">Grading</span>
* explanation: -3 incorrect / -5 missing
* example: -3 incorrect / -5 missing

In [8]:
x = pd.DataFrame([2, 3], index = ["a", "b"])
y = pd.DataFrame([1, 1, 1], index = ["b", "a", "c"])
y * x

     0
a  2.0
b  3.0
c  NaN

Pandas supports vectorized operations just like NumPy arrays. However, the elements in each Pandas series or data frame are matched for vectorized operations based on the row and column indexes (names) rather than by position.

In the example above, rows "a" and "b" from each data frame are multiplied together. Since `x` doesn't have a row "c", Pandas returns `NaN` for that row's result.

__Exercise 1.4 (10 points).__ Explain the difference between the similarly-named data frame methods `.reindex()` and `.reset_index()`. Give two examples to show what each method respectively does.

How might these methods be useful when combined with Pandas' data alignment feature?

*Hint: Besides the Pandas documentation, `.reindex()` is explained in Python for Data Analysis 5.2, and `.reset_index()` is explained [here](https://jakevdp.github.io/PythonDataScienceHandbook/03.05-hierarchical-indexing.html#Index-setting-and-resetting).*

<span style="color:#F00">Grading</span>
* each example: -1 incorrect / -3 missing
* explanation: -2 incorrect / -4 missing

### Part 2: Read in the 'county_age_dist.csv' data and answer the next four questions.

__Exercise 2.1 (5 points).__ Cast the 'fips' column as a string such that it is a length 5 string of digits that starts with 0 if it is currently of length 4.  Yolo county for example is '06113'.  This is the age distribution of each county in the US (with territories), you may notice that the total population is unusually large, please ignore this.

<span style="color:#F00">Grading</span>
* read data: -1 incorrect / -2 missing
* cast 'fips' as a string: -1 incorrect / -3 missing

In [9]:
county_age = pd.read_csv('county_age_dist.csv', dtype={'fips':str})
county_age = county_age.set_index('fips')
age_cols = list(county_age.columns)

__Exercise 2.2 (5 points).__ Create a population column which is the sum of the age counts for all age bins.  For each age bin create a column which is proportion of the age bin in the county populations, so for example '0-17_rat' is the ratio of '0-17' to the whole population for the county.  Print out the FIPS code for the county with the largest proportion of 0-17 year olds? What is the FIPS code for the county with the largest proportion of 85+ year olds?

<span style="color:#F00">Grading</span>
* each question: -0.5 incorrect/ -1 missing
* if all missing: 0 points

In [10]:
county_age['population'] = county_age.sum(axis=1)
county_age = county_age.join(county_age[age_cols].div(county_age['population'],axis=0),rsuffix='_rat')
age_rat_cols = [ac + '_rat' for ac in age_cols]
age_rat_cols

['0-17_rat',
 '18-24_rat',
 '25-34_rat',
 '35-44_rat',
 '45-54_rat',
 '55-64_rat',
 '65-74_rat',
 '75-84_rat',
 '85+_rat']

In [11]:
county_age[age_rat_cols[0]]

fips
01001    0.242050
01003    0.220623
01005    0.213786
01007    0.210674
01009    0.227612
           ...
72145    0.222862
72147    0.217616
72149    0.234818
72151    0.211635
72153    0.213282
Name: 0-17_rat, Length: 3220, dtype: float64

In [12]:
# Largest proportion of 0-17 year olds
county_age[age_rat_cols[0]].idxmax()

'02158'

In [13]:
# Largest proportion of 85+ year olds
county_age[age_rat_cols[-1]].idxmax()

'31091'

__Exercise 2.3 (5 points).__ What is the overall proportion of each age bin within the entire US.  You need to find the total number of each age bin across all counties and take the ratio with the total population.

In [14]:
# Age proportions for all US

county_age_sum = county_age.sum()
county_age_sum[age_cols] / county_age_sum['population']

0-17     0.224884
18-24    0.117452
25-34    0.128200
35-44    0.119159
45-54    0.124014
55-64    0.123719
65-74    0.089391
75-84    0.050112
85+      0.023068
dtype: float64

In [15]:
county_age.sum()

0-17          1.423394e+08
18-24         7.434078e+07
25-34         8.114383e+07
35-44         7.542108e+07
45-54         7.849398e+07
55-64         7.830720e+07
65-74         5.657975e+07
75-84         3.171837e+07
85+           1.460103e+07
population    6.329454e+08
0-17_rat      7.091123e+02
18-24_rat     3.641499e+02
25-34_rat     3.612024e+02
35-44_rat     3.585490e+02
45-54_rat     3.952437e+02
55-64_rat     4.303425e+02
65-74_rat     3.292618e+02
75-84_rat     1.882375e+02
85+_rat       8.390092e+01
dtype: float64

__Exercise 2.4 (10 points).__ Create a new column that contains the mode of the age bins (the age bin with the largest proportion in the county).  Print out the frequencies of the modes different possible values, so that the frequency of '0-17' is the proportion of the counties that have '0-17' as the largest age bin for that county.

<span style="color:#F00">Grading</span>
* create a new column: -2 incorrect/ -5 missing
* print out the frequencies: -2 incorrect/ -5 missing

In [16]:
county_age[age_rat_cols]

,0-17_rat,18-24_rat,25-34_rat,35-44_rat,45-54_rat,55-64_rat,65-74_rat,75-84_rat,85+_rat
fips,,,,,,,,,
01001,0.242050,0.106576,0.114909,0.129026,0.130631,0.118473,0.089520,0.050666,0.018148
01003,0.220623,0.095723,0.112451,0.119068,0.126571,0.133527,0.110206,0.059271,0.022560
01005,0.213786,0.119142,0.127668,0.114211,0.125483,0.123299,0.101605,0.054041,0.020766
01007,0.210674,0.114171,0.126086,0.119203,0.146106,0.121185,0.093018,0.055658,0.013898
01009,0.227612,0.100724,0.112028,0.120318,0.130666,0.125222,0.107338,0.058164,0.017928
...,...,...,...,...,...,...,...,...,...
72145,0.222862,0.119243,0.122765,0.116876,0.123953,0.119202,0.098397,0.050642,0.026059
72147,0.217616,0.125622,0.096370,0.108531,0.114981,0.136908,0.108900,0.069007,0.022066
72149,0.234818,0.133015,0.114193,0.110015,0.119715,0.128816,0.095785,0.045876,0.017767
72151,0.211635,0.118870,0.111495,0.121162,0.125759,0.129144,0.104395,0.049840,0.027699
72153,0.213282,0.110158,0.115657,0.116087,0.123096,0.131001,0.105211,0.056711,0.028798

In [17]:
county_age['mode'] = [age_cols[i] for i in np.argmax(county_age[age_rat_cols].values,axis=1)]

In [18]:
county_age['mode']

fips
01001    0-17
01003    0-17
01005    0-17
01007    0-17
01009    0-17
         ...
72145    0-17
72147    0-17
72149    0-17
72151    0-17
72153    0-17
Name: mode, Length: 3220, dtype: object

In [19]:
# Frequencies of mode

county_age['mode'].value_counts(normalize=True)

0-17     0.949379
18-24    0.021739
55-64    0.018012
25-34    0.004658
65-74    0.004658
45-54    0.000932
35-44    0.000621
Name: mode, dtype: float64

### Part 3. Read in the 'county_fips_master.csv'' data and answer the next two questions

__Exercise 3.1 (5 points).__ Join this dataset to the county age dataframe constructed above such that there is one row for every county in the new dataframe from county_fips_master. How many rows are there in the new dataframe? Are there any missing entries? If so how many rows have missingness?

<span style="color:#F00">Grading</span>
* Join the dataset: -1 incorrect/ -2 missing
* other questions: -1 incorrect or missing

In [20]:
# Read fips names
county_fips = pd.read_csv('county_fips_master.csv',encoding ='ISO-8859-1', dtype={'fips':str})

# reformat fips
county_fips['fips'] = county_fips['fips'].astype('str').str.zfill(5)
county_fips = county_fips.set_index('fips')

In [21]:
# Left join (using index variable)
county_data = county_fips.join(county_age)

In [22]:
county_data

,county_name,state_abbr,state_name,long_name,sumlev,region,division,state,county,crosswalk,...,0-17_rat,18-24_rat,25-34_rat,35-44_rat,45-54_rat,55-64_rat,65-74_rat,75-84_rat,85+_rat,mode
fips,,,,,,,,,,,,,,,,,,,,,
01001,Autauga County,AL,Alabama,Autauga County AL,50.0,3.0,6.0,1.0,1.0,3-6-1-1,...,0.242050,0.106576,0.114909,0.129026,0.130631,0.118473,0.089520,0.050666,0.018148,0-17
01003,Baldwin County,AL,Alabama,Baldwin County AL,50.0,3.0,6.0,1.0,3.0,3-6-1-3,...,0.220623,0.095723,0.112451,0.119068,0.126571,0.133527,0.110206,0.059271,0.022560,0-17
01005,Barbour County,AL,Alabama,Barbour County AL,50.0,3.0,6.0,1.0,5.0,3-6-1-5,...,0.213786,0.119142,0.127668,0.114211,0.125483,0.123299,0.101605,0.054041,0.020766,0-17
01007,Bibb County,AL,Alabama,Bibb County AL,50.0,3.0,6.0,1.0,7.0,3-6-1-7,...,0.210674,0.114171,0.126086,0.119203,0.146106,0.121185,0.093018,0.055658,0.013898,0-17
01009,Blount County,AL,Alabama,Blount County AL,50.0,3.0,6.0,1.0,9.0,3-6-1-9,...,0.227612,0.100724,0.112028,0.120318,0.130666,0.125222,0.107338,0.058164,0.017928,0-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56037,Sweetwater County,WY,Wyoming,Sweetwater County WY,50.0,4.0,8.0,56.0,37.0,4-8-56-37,...,0.261298,0.111388,0.143440,0.122522,0.113825,0.126323,0.068867,0.037358,0.014979,0-17
56039,Teton County,WY,Wyoming,Teton County WY,50.0,4.0,8.0,56.0,39.0,4-8-56-39,...,0.205352,0.071481,0.181675,0.142574,0.129888,0.131195,0.085066,0.032543,0.020225,0-17
56041,Uinta County,WY,Wyoming,Uinta County WY,50.0,4.0,8.0,56.0,41.0,4-8-56-41,...,0.272357,0.104782,0.119638,0.128185,0.112583,0.131170,0.080136,0.032945,0.018202,0-17
56043,Washakie County,WY,Wyoming,Washakie County WY,50.0,4.0,8.0,56.0,43.0,4-8-56-43,...,0.229247,0.085871,0.108158,0.107503,0.120374,0.140039,0.109290,0.068709,0.030809,0-17
56045,Weston County,WY,Wyoming,Weston County WY,50.0,4.0,8.0,56.0,45.0,4-8-56-45,...,0.212683,0.097947,0.102786,0.126026,0.113710,0.155279,0.095968,0.061217,0.034384,0-17

In [23]:
# Number of non-missings
county_data.count()

county_name      3146
state_abbr       3146
state_name       3146
long_name        3146
sumlev           3143
region           3143
division         3143
state            3143
county           3143
crosswalk        3146
region_name      3143
division_name    3143
0-17             3143
18-24            3143
25-34            3143
35-44            3143
45-54            3143
55-64            3143
65-74            3143
75-84            3143
85+              3143
population       3143
0-17_rat         3143
18-24_rat        3143
25-34_rat        3143
35-44_rat        3143
45-54_rat        3143
55-64_rat        3143
65-74_rat        3143
75-84_rat        3143
85+_rat          3143
mode             3143
dtype: int64

In [24]:
county_data[county_data.isna().any(axis=1)]

,county_name,state_abbr,state_name,long_name,sumlev,region,division,state,county,crosswalk,...,0-17_rat,18-24_rat,25-34_rat,35-44_rat,45-54_rat,55-64_rat,65-74_rat,75-84_rat,85+_rat,mode
fips,,,,,,,,,,,,,,,,,,,,,
02270,Wade Hampton Census Area,AK,Alaska,Wade Hampton Census Area AK,NaN,NaN,NaN,NaN,NaN,NA-NA-NA-NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46113,Shannon County,SD,South Dakota,Shannon County SD,NaN,NaN,NaN,NaN,NaN,NA-NA-NA-NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51515,Bedford city,VA,Virginia,Bedford city VA,NaN,NaN,NaN,NaN,NaN,NA-NA-NA-NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It seems that the only missingness is in the above three counties.

__Exercise 3.2 (10 points)__ Drop any rows with missingness.  For each state calculate the proportion of each age bin as you did for the entire US in the question above.  What is the state with the most 0-17 proportion and the state with the most 85+ proportion?  Give the proportions.

<span style="color:#F00">Grading</span>
* Drop rows: -3 incorrect/ -6 missing
* Give the proportions: -2 incorrect/ -4 missing

In [25]:
county_data.dropna(inplace=True)

In [26]:
state_data = county_data[['state_abbr'] + age_cols].groupby('state_abbr').sum()

In [27]:
state_data['total'] = state_data[age_cols].sum(axis=1)
state_data = state_data.join(state_data[age_cols].div(state_data['total'],axis=0), rsuffix='_rat')

In [28]:
state_data

,0-17,18-24,25-34,35-44,45-54,55-64,65-74,75-84,85+,total,0-17_rat,18-24_rat,25-34_rat,35-44_rat,45-54_rat,55-64_rat,65-74_rat,75-84_rat,85+_rat
state_abbr,,,,,,,,,,,,,,,,,,,
AK,331933.0,170067.0,201417.0,163690.0,173534.0,175823.0,102980.0,44886.0,18826.0,1383156.0,0.239982,0.122956,0.145621,0.118345,0.125462,0.127117,0.074453,0.032452,0.013611
AL,2168219.0,1135562.0,1197337.0,1141813.0,1190723.0,1220538.0,908803.0,502962.0,204651.0,9670608.0,0.224207,0.117424,0.123812,0.118070,0.123128,0.126211,0.093976,0.052009,0.021162
AR,1380988.0,688947.0,730870.0,696628.0,708892.0,730473.0,565342.0,312872.0,132352.0,5947364.0,0.232202,0.115841,0.122890,0.117132,0.119194,0.122823,0.095058,0.052607,0.022254
AZ,3050038.0,1566538.0,1658537.0,1530872.0,1530958.0,1556376.0,1258193.0,703632.0,294345.0,13149489.0,0.231951,0.119133,0.126129,0.116421,0.116427,0.118360,0.095684,0.053510,0.022385
CA,17087279.0,8967102.0,10257203.0,9249327.0,9236216.0,8753500.0,6121938.0,3438959.0,1634514.0,74746038.0,0.228604,0.119968,0.137227,0.123743,0.123568,0.117110,0.081903,0.046009,0.021868
CO,2335652.0,1223315.0,1432805.0,1295581.0,1271906.0,1282048.0,873417.0,451991.0,200138.0,10366853.0,0.225300,0.118003,0.138210,0.124973,0.122690,0.123668,0.084251,0.043600,0.019306
CT,1535438.0,841562.0,848425.0,833719.0,974728.0,946120.0,659272.0,375979.0,197373.0,7212616.0,0.212882,0.116679,0.117631,0.115592,0.135142,0.131176,0.091405,0.052128,0.027365
DC,473766.0,354356.0,507640.0,342888.0,293364.0,289016.0,197824.0,111950.0,54418.0,2625222.0,0.180467,0.134981,0.193370,0.130613,0.111748,0.110092,0.075355,0.042644,0.020729
DE,387403.0,202035.0,223967.0,201716.0,225662.0,230433.0,175409.0,94666.0,40800.0,1782091.0,0.217387,0.113370,0.125677,0.113191,0.126628,0.129305,0.098429,0.053121,0.022894
FL,8018052.0,4330257.0,4817972.0,4549565.0,4938602.0,5010016.0,4158047.0,2485715.0,1123990.0,39432216.0,0.203338,0.109815,0.122184,0.115377,0.125243,0.127054,0.105448,0.063038,0.028504
GA,4710334.0,2353495.0,2540137.0,2493067.0,2490917.0,2311869.0,1638911.0,846867.0,343619.0,19729216.0,0.238749,0.119290,0.128750,0.126364,0.126255,0.117180,0.083070,0.042925,0.017417
HI,574193.0,297703.0,361065.0,314908.0,319167.0,340810.0,254344.0,138378.0,78406.0,2678974.0,0.214333,0.111126,0.134777,0.117548,0.119138,0.127217,0.094941,0.051653,0.029267
IA,1352770.0,713548.0,710784.0,665310.0,711037.0,752689.0,529763.0,322779.0,163071.0,5921751.0,0.228441,0.120496,0.120029,0.112350,0.120072,0.127106,0.089461,0.054507,0.027538
ID,778146.0,357455.0,384527.0,361405.0,354725.0,378056.0,284362.0,150781.0,64080.0,3113537.0,0.249923,0.114807,0.123502,0.116075,0.113930,0.121423,0.091331,0.048428,0.020581
IL,5736340.0,2957351.0,3284196.0,3065109.0,3159358.0,3135596.0,2175447.0,1246320.0,594309.0,25354026.0,0.226250,0.116642,0.129534,0.120892,0.124610,0.123673,0.085803,0.049157,0.023440
IN,3022289.0,1551872.0,1576870.0,1520676.0,1596502.0,1621931.0,1147740.0,646118.0,298216.0,12982214.0,0.232802,0.119538,0.121464,0.117135,0.122976,0.124935,0.088409,0.049769,0.022971
KS,1355806.0,697099.0,706969.0,638944.0,661569.0,692036.0,482604.0,283554.0,139522.0,5658103.0,0.239622,0.123204,0.124948,0.112925,0.116924,0.122309,0.085294,0.050115,0.024659
KY,1966170.0,1019825.0,1065761.0,1043312.0,1097558.0,1115853.0,815165.0,443268.0,190620.0,8757532.0,0.224512,0.116451,0.121697,0.119133,0.125327,0.127416,0.093082,0.050616,0.021766
LA,2232415.0,1163698.0,1275585.0,1107438.0,1147398.0,1179934.0,834379.0,458906.0,197742.0,9597495.0,0.232604,0.121250,0.132908,0.115388,0.119552,0.122942,0.086937,0.047815,0.020604
MA,2801851.0,1660860.0,1767431.0,1598005.0,1784834.0,1751759.0,1243918.0,711948.0,364888.0,13685494.0,0.204731,0.121359,0.129146,0.116766,0.130418,0.128001,0.090893,0.052022,0.026662
MD,2570101.0,1322587.0,1504767.0,1399691.0,1529219.0,1461060.0,1008455.0,549886.0,256075.0,11601841.0,0.221525,0.113998,0.129701,0.120644,0.131808,0.125933,0.086922,0.047396,0.022072
ME,512819.0,277940.0,292713.0,290316.0,350304.0,378173.0,276417.0,151790.0,69946.0,2600418.0,0.197206,0.106883,0.112564,0.111642,0.134711,0.145428,0.106297,0.058371,0.026898
MI,4261625.0,2318910.0,2257292.0,2182659.0,2436691.0,2533793.0,1791667.0,1004278.0,470931.0,19257846.0,0.221293,0.120414,0.117214,0.113339,0.126530,0.131572,0.093036,0.052149,0.024454
MN,2275264.0,1125187.0,1292244.0,1158635.0,1251396.0,1258891.0,850358.0,487862.0,243091.0,9942928.0,0.228832,0.113165,0.129966,0.116529,0.125858,0.126612,0.085524,0.049066,0.024449
MO,2692645.0,1400856.0,1487158.0,1365607.0,1472367.0,1521453.0,1101168.0,631030.0,286607.0,11958891.0,0.225158,0.117139,0.124356,0.114192,0.123119,0.127224,0.092079,0.052767,0.023966
MS,1458051.0,749492.0,761790.0,723532.0,733387.0,757491.0,555238.0,308977.0,130012.0,6177970.0,0.236008,0.121317,0.123307,0.117115,0.118710,0.122612,0.089874,0.050013,0.021044
MT,429896.0,237504.0,241587.0,218663.0,237505.0,281408.0,201690.0,109334.0,49404.0,2006991.0,0.214199,0.118338,0.120373,0.108951,0.118339,0.140214,0.100494,0.054477,0.024616
NC,4359840.0,2259673.0,2398513.0,2375193.0,2438770.0,2400577.0,1787071.0,965387.0,404324.0,19389348.0,0.224857,0.116542,0.123703,0.122500,0.125779,0.123809,0.092168,0.049790,0.020853
ND,298565.0,189118.0,183779.0,146684.0,155030.0,164808.0,108770.0,68357.0,35557.0,1350668.0,0.221050,0.140018,0.136065,0.108601,0.114780,0.122020,0.080531,0.050610,0.026325
NE,862786.0,437771.0,456143.0,412827.0,420510.0,441282.0,306889.0,182812.0,90248.0,3611268.0,0.238915,0.121224,0.126311,0.114316,0.116444,0.122196,0.084981,0.050623,0.024991
NH,523203.0,297736.0,294087.0,295094.0,363586.0,366185.0,251438.0,135737.0,63913.0,2590979.0,0.201933,0.114913,0.113504,0.113893,0.140328,0.141331,0.097044,0.052388,0.024668
NJ,3913498.0,1962834.0,2176873.0,2171040.0,2371836.0,2252006.0,1588744.0,910798.0,454974.0,17802603.0,0.219827,0.110255,0.122278,0.121951,0.133230,0.126499,0.089242,0.051161,0.025557
NM,972100.0,499256.0,524962.0,468703.0,489571.0,529693.0,394244.0,217130.0,91616.0,4187275.0,0.232156,0.119232,0.125371,0.111935,0.116919,0.126501,0.094153,0.051855,0.021880
NV,1278794.0,618325.0,753923.0,701165.0,699271.0,683465.0,521488.0,265971.0,103634.0,5626036.0,0.227299,0.109904,0.134006,0.124629,0.124292,0.121483,0.092692,0.047275,0.018420
NY,8468410.0,4716513.0,5381891.0,4776086.0,5110825.0,5006026.0,3568597.0,2053850.0,1013122.0,40095320.0,0.211207,0.117633,0.134227,0.119118,0.127467,0.124853,0.089003,0.051224,0.025268
OH,5190856.0,2665883.0,2796574.0,2653355.0,2895874.0,3039082.0,2156034.0,1237443.0,590778.0,23225879.0,0.223494,0.114781,0.120408,0.114241,0.124683,0.130849,0.092829,0.053279,0.025436
OK,1688452.0,848950.0,923539.0,825000.0,836761.0,870064.0,640817.0,367362.0,154055.0,7155000.0,0.235982,0.118651,0.129076,0.115304,0.116948,0.121602,0.089562,0.051343,0.021531
OR,1676347.0,890521.0,1014195.0,951445.0,937494.0,1034709.0,774491.0,401558.0,196207.0,7876967.0,0.212816,0.113054,0.128755,0.120788,0.119017,0.131359,0.098324,0.050979,0.024909
PA,5220791.0,2824208.0,3034667.0,2784722.0,3153569.0,3281365.0,2352203.0,1398240.0,694755.0,24744520.0,0.210988,0.114135,0.122640,0.112539,0.127445,0.132610,0.095060,0.056507,0.028077
RI,440850.0,277139.0,272725.0,247536.0,280421.0,283806.0,199484.0,115358.0,65096.0,2182415.0,0.202001,0.126987,0.124965,0.113423,0.128491,0.130042,0.091405,0.052858,0.029828
SC,2111021.0,1123430.0,1175864.0,1111491.0,1169793.0,1217108.0,941059.0,478250.0,200394.0,9528410.0,0.221550,0.117903,0.123406,0.116650,0.122769,0.127735,0.098763,0.050192,0.021031
SD,371605.0,187503.0,196184.0,173439.0,183481.0,204271.0,139642.0,84490.0,42271.0,1582886.0,0.234764,0.118456,0.123941,0.109571,0.115915,0.129050,0.088220,0.053377,0.026705
TN,2882533.0,1484269.0,1601729.0,1546853.0,1599584.0,1614590.0,1206158.0,653235.0,268420.0,12857371.0,0.224193,0.115441,0.124577,0.120309,0.124410,0.125577,0.093811,0.050806,0.020877
TX,13379969.0,6446090.0,7173740.0,6643012.0,6302733.0,5929002.0,4108667.0,2251837.0,965842.0,53200892.0,0.251499,0.121165,0.134842,0.124867,0.118470,0.111446,0.077229,0.042327,0.018155
UT,1533866.0,720616.0,755879.0,663364.0,547466.0,535406.0,374507.0,210176.0,88704.0,5429984.0,0.282481,0.132711,0.139205,0.122167,0.100823,0.098602,0.068970,0.038707,0.016336
VA,3537347.0,1901912.0,2100825.0,1974201.0,2064941.0,1996086.0,1429830.0,765944.0,341689.0,16112775.0,0.219537,0.118038,0.130383,0.122524,0.128156,0.123882,0.088739,0.047536,0.021206
VT,229042.0,144704.0,131341.0,128242.0,154163.0,168164.0,119988.0,63395.0,29965.0,1169004.0,0.195929,0.123784,0.112353,0.109702,0.131876,0.143852,0.102641,0.054230,0.025633
WA,3101417.0,1613332.0,1883322.0,1704190.0,1725724.0,1776904.0,1268513.0,660621.0,310120.0,14044143.0,0.220833,0.114876,0.134100,0.121345,0.122879,0.126523,0.090323,0.047039,0.022082
WI,2386246.0,1245185.0,1298477.0,1225241.0,1364274.0,1388421.0,953295.0,552295.0,270703.0,10684137.0,0.223345,0.116545,0.121533,0.114679,0.127692,0.129952,0.089225,0.051693,0.025337
WV,787425.0,434758.0,436724.0,444520.0,472473.0,534636.0,407564.0,226286.0,97615.0,3842001.0,0.204952,0.113159,0.113671,0.115700,0.122976,0.139156,0.106081,0.058898,0.025407
WY,265952.0,135920.0,151846.0,133337.0,135072.0,155302.0,102482.0,54673.0,24346.0,1158930.0,0.229481,0.117281,0.131023,0.115052,0.116549,0.134005,0.088428,0.047175,0.021007

In [29]:
pd.options.display.float_format = '{:.3f}'.format

In [30]:
state_data.loc[state_data[age_rat_cols[0]].idxmax()]
# Utah has most 0-17 prop

0-17        1533866.000
18-24        720616.000
25-34        755879.000
35-44        663364.000
45-54        547466.000
55-64        535406.000
65-74        374507.000
75-84        210176.000
85+           88704.000
total       5429984.000
0-17_rat          0.282
18-24_rat         0.133
25-34_rat         0.139
35-44_rat         0.122
45-54_rat         0.101
55-64_rat         0.099
65-74_rat         0.069
75-84_rat         0.039
85+_rat           0.016
Name: UT, dtype: float64

In [31]:
state_data.loc[state_data[age_rat_cols[-1]].idxmax()]
# Rhode Island has most 85+ prop

0-17         440850.000
18-24        277139.000
25-34        272725.000
35-44        247536.000
45-54        280421.000
55-64        283806.000
65-74        199484.000
75-84        115358.000
85+           65096.000
total       2182415.000
0-17_rat          0.202
18-24_rat         0.127
25-34_rat         0.125
35-44_rat         0.113
45-54_rat         0.128
55-64_rat         0.130
65-74_rat         0.091
75-84_rat         0.053
85+_rat           0.030
Name: RI, dtype: float64

### Part 4. Read in the 'time_series_covid19_deaths_US.csv' data and answer the next five questions

__Exercise 4.1 (5 points).__ This data is the Johns Hopkins official US Covid-19 death cumulative counts for each date and county.  Restructure the dataframe such that it is 'tidy' and there is a column for date, deaths, population, and fips.  (Hint: look at pandas melt function)

<span style="color:#F00">Grading</span>
* -2 incorrect/-5 missing

In [32]:
deaths = pd.read_csv('time_series_covid19_deaths_US.csv')
deaths = deaths.dropna(subset=['FIPS'])
#deaths = deaths[]
deaths['FIPS'] = deaths['FIPS'].astype(int).astype(str).str.zfill(5)

In [33]:
deaths.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21
0,84001001,US,USA,840,01001,Autauga,Alabama,US,32.540,-86.644,...,84,84,84,85,85,85,85,84,85,89
1,84001003,US,USA,840,01003,Baldwin,Alabama,US,30.728,-87.722,...,253,253,254,262,262,262,262,263,272,274
2,84001005,US,USA,840,01005,Barbour,Alabama,US,31.868,-85.387,...,48,49,49,49,50,50,50,50,50,51
3,84001007,US,USA,840,01007,Bibb,Alabama,US,32.996,-87.125,...,57,57,57,58,58,58,58,59,59,60
4,84001009,US,USA,840,01009,Blount,Alabama,US,33.982,-86.568,...,121,121,121,125,125,125,125,125,125,125

In [34]:
date_cols = list(deaths.columns[12:])

In [35]:
# melted data in death_data
death_data = deaths[['FIPS', 'Population'] + date_cols]\
    .melt(id_vars=['FIPS','Population'])\
    .rename(columns = {'variable':'date', 'value': 'death_count'})

In [36]:
death_data['date'] = pd.DatetimeIndex(death_data['date'])

In [37]:
death_data

          FIPS  Population       date  death_count
0        01001       55869 2020-01-22            0
1        01003      223234 2020-01-22            0
2        01005       24686 2020-01-22            0
3        01007       22394 2020-01-22            0
4        01009       57826 2020-01-22            0
...        ...         ...        ...          ...
1335325  56039       23464 2021-02-25            9
1335326  56041       20226 2021-02-25           12
1335327  90056           0 2021-02-25            0
1335328  56043        7805 2021-02-25           26
1335329  56045        6927 2021-02-25            5

[1335330 rows x 4 columns]

In [38]:
## Yolo county data looks correct
death_data.query('FIPS=="06113"')

          FIPS  Population       date  death_count
253      06113      220500 2020-01-22            0
3583     06113      220500 2020-01-23            0
6913     06113      220500 2020-01-24            0
10243    06113      220500 2020-01-25            0
13573    06113      220500 2020-01-26            0
...        ...         ...        ...          ...
1318933  06113      220500 2021-02-21          181
1322263  06113      220500 2021-02-22          181
1325593  06113      220500 2021-02-23          185
1328923  06113      220500 2021-02-24          185
1332253  06113      220500 2021-02-25          185

[401 rows x 4 columns]

__Exercise 4.2 (5 points).__ Which county (give county name and state) has the highest proportion of deaths by 2/25/21 to the Population?  Use the population in the covid deaths datasets.

<span style="color:#F00">Grading</span>
* each question: -2 incorrect/ -5 missing

In [39]:
death_cumm = death_data.query('date=="2/25/21"')

In [40]:
death_cumm.set_index('FIPS', inplace=True)

In [41]:
death_cumm

       Population       date  death_count
FIPS
01001       55869 2021-02-25           89
01003      223234 2021-02-25          274
01005       24686 2021-02-25           51
01007       22394 2021-02-25           60
01009       57826 2021-02-25          125
...           ...        ...          ...
56039       23464 2021-02-25            9
56041       20226 2021-02-25           12
90056           0 2021-02-25            0
56043        7805 2021-02-25           26
56045        6927 2021-02-25            5

[3330 rows x 3 columns]

In [42]:
death_cumm = death_cumm.join(county_fips).dropna() #dropping counties not in US states/terr

In [43]:
death_cumm['death_prop'] = death_cumm.eval('death_count / Population')
county_max = death_cumm['death_prop'].idxmax()

In [44]:
death_cumm.loc[county_max]

Population                      2013
date             2021-02-25 00:00:00
death_count                       16
county_name           Jerauld County
state_abbr                        SD
state_name              South Dakota
long_name          Jerauld County SD
sumlev                        50.000
region                         2.000
division                       4.000
state                         46.000
county                        73.000
crosswalk                  2-4-46-73
region_name                  Midwest
division_name     West North Central
death_prop                     0.008
Name: 46073, dtype: object

In [45]:
# Jerauld County, SD had the highest death proportion 16 / 2013 people
death_cumm.loc[county_max]

Population                      2013
date             2021-02-25 00:00:00
death_count                       16
county_name           Jerauld County
state_abbr                        SD
state_name              South Dakota
long_name          Jerauld County SD
sumlev                        50.000
region                         2.000
division                       4.000
state                         46.000
county                        73.000
crosswalk                  2-4-46-73
region_name                  Midwest
division_name     West North Central
death_prop                     0.008
Name: 46073, dtype: object

__Exercise 4.3 (10 points).__ Compute the incidence proportion (number of deaths each day per 100,000 population) for each county, you may save this as a new dataset.

<span style="color:#F00">Grading</span>
* incorrect -3/ missing -10

In [ ]:
# indexing and sort makes it much faster to do the next step!
death_data = death_data.set_index(['FIPS','date']).sort_index()

In [ ]:
# series object that contains the incidence numbers 
death_inc = death_data.eval('death_count / Population * 1e5')\
    .groupby(level=0).diff()

In [ ]:
death_inc

In [ ]:
## Looks like there was a large correction in June for Yolo deaths
death_inc['06113'].plot()

In [ ]:
# esc + A

In [ ]:
death_inc

__Exercise 4.4 (15 points).__ Compute the incidence proportion per week (per 100,000 population), which is the sum of the incidences for all days in a week.  Hint: use Periods in Pandas.  Which is the week with the highest mean incidence proportions (where the mean is taken over all the counties)?

<span style="color:#F00">Grading</span>
* Compute the incidence proportion: -5 incorrect/ -10 missing
* sum of the incidence: -2 incorrect/ -5 missing

In [ ]:
death_inc = death_inc.reset_index(level=1)

In [ ]:
death_inc

In [ ]:
death_inc['week'] = pd.PeriodIndex(death_inc['date'], freq='W')

In [ ]:
death_inc

In [ ]:
death_inc_weekly = death_inc.set_index('week',append=True).groupby(level=[0,1]).mean()

In [ ]:
death_inc_weekly = death_inc.set_index('week',append=True)

In [ ]:
death_inc_weekly

In [ ]:
death_inc_weekly_groupby = death_inc.set_index('week',append=True).groupby(level=[0,1]).mean()

In [ ]:
death_inc.set_index('week',append=True).groupby(level = [0,1]).mean()

In [ ]:
death_inc_weekly

In [ ]:
death_inc_weekly.loc['06113'].plot()

In [ ]:
death_week_mean = death_inc_weekly.groupby(level=1).mean()
death_week_mean.loc[death_week_mean.idxmax()]

In [ ]:
death_week_mean

The week with the highest week mean proportion is the week of 2020-12-07 to 2020-12-13.

__Exercise 4.5 (15 points).__ For each week (should be roughly 40 weeks), compute the spearman correlation between the proportion of seniors in the county and the incidence proportion for that county at that week (each county is considered to be a sample for computing the correlation).  Print all correlations below.  This should be a single number for each week.

<span style="color:#F00">Grading</span>
* incorrect -5/ missing -15

In [ ]:
senior_prop = county_data[age_rat_cols[-3:]].sum(axis=1)
senior_prop.name = "seniors"

In [ ]:
death_inc_weekly = death_inc_weekly.rename(columns={0:'death_inc'}).reset_index(level=1)

In [ ]:
death_inc_sen = death_inc_weekly.join(senior_prop).dropna()

In [ ]:
def spear_corr(df, method='spearman'):
    corrs = df.corr(method=method)
    return corrs.iloc[0,1]

In [ ]:
death_sen_corr = death_inc_sen.groupby('week').apply(spear_corr).dropna()

In [ ]:
# here are the numbers
death_sen_corr

In [ ]:
# Here is a plot for us to look at
death_sen_corr.plot()

In [ ]:
# Interestingly the correlations look different if you use pearson!
death_inc_sen.groupby('week')\
    .apply(lambda df: spear_corr(df, method='pearson'))\
    .dropna()\
    .plot()